.Header {
  width: 100vw;
  height: 4rem;
  background-color: #f38911;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  img {
    width: 7rem;
    object-fit: cover;
  }
}
