@use "../abstracts/variables" as *;

.StudentCard {
  width: 100%;
  height: auto;
  max-height: 74.8%;
  display: flex;
  transition: all 300ms;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms;

  border-radius: 50px;
  background: $zinc-50;
  border: 1px solid $zinc-300;

  &:hover {
    span {
      background-color: $zinc-50;
    }
    .StudentCard__glass {
      opacity: 1;
      visibility: visible;
    }
  }

  &__specialty {
    width: 4rem;
    height: 100%;
    background-color: $zinc-400;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1rem;
      font-weight: 600;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      color: $zinc-50;
    }
  }

  &__content {
    width: 100%;
    display: grid;
    padding-top: 3rem;
  }

  &__header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    position: relative;

    img {
      width: 4rem;
    }
    p {
      background-color: $zinc-400;
      color: $zinc-50;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-size: 0.8rem;
      font-weight: 700;
    }
  }

  &__student {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    text-align: center;

    &__info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: end;
      padding: 2rem;

      img {
        width: 13rem;
      }
      p {
        font-size: 0.8rem;
        font-weight: 600;
        color: $zinc-400;
      }
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 0.8rem;
    border-radius: 10px;
    margin: 1rem 0;
    border: 1px solid $zinc-300;
    transition: all 300ms;
    z-index: 20;
  }

  &__glass {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    opacity: 0;
    visibility: hidden;

    background: rgba($color: $zinc-900, $alpha: 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    svg {
      color: $zinc-50;
      width: 3rem;
    }
  }
}
