@use "../abstracts/variables" as *;

.Attendance {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &:focus {
    outline: none;
  }

  &__register {
    margin-top: 3rem;
    width: 72%;
    display: grid;
    grid-template:
      "search tracker" 5%
      "table card" 1fr /
      1fr 24rem;
    gap: 2rem;
  }
}

@media (max-width: $xxl) {
  .Attendance {
    &__register {
      grid-template:
        "search tracker" 5%
        "table card" 1fr /
        1fr 20rem;
    }
  }
}

@media (max-width: $lg) {
  .Attendance {
    &__register {
      width: 90%;
      grid-template:
        "search tracker" 5%
        "table table" 40rem
        "card card" 1fr /
        1fr 1fr;
    }
  }
}

@media (max-height: 850px) {
  .Attendance {
    &__register {
      grid-template:
        "search tracker" 5%
        "table card" 1fr /
        1fr 20rem;
    }
  }
}
