@use "../abstracts/variables" as *;

.Attendance {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &__register {
    margin-top: 3rem;
    width: 60%;
    display: grid;
    grid-template:
      "search ." 5%
      "table table" 1fr /
      1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: $sm) {
  .Attendance {
    &__register {
      width: 80%;
      grid-template:
        "search search" 5%
        "table table" 1fr /
        1fr 1fr;
    }
  }
}
