@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.Login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &__card {
    width: 50rem;
    min-width: 20rem;
    height: 35rem;
    margin: 2rem 2rem 0 2rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 13px 19px 71px -35px rgba(0, 0, 0, 0.75);
  }

  &__content_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $zinc-50;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .tittle {
        font-size: 20px;
        margin: 0;
      }
      .description {
        text-align: center;
        font-weight: 500;
        width: 15rem;
        color: darkgrey;
      }
    }
    .footer {
      font-size: 15px;
      display: flex;
      gap: 1rem;
      cursor: default;
      color: darkgrey;
    }
  }

  &__content_image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: $xl) {
  .Login {
    &__card {
      height: 30rem;
      width: 40rem;
      grid-template-rows: 30rem;
      margin: 0;
    }

    &__content_form {
      padding: 0 1rem;
      .header {
        .tittle {
          font-size: 18px;
        }
        .description {
          width: 12rem;
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Login {
    &__card {
      grid-template-columns: 1fr;
      margin: 2rem 2rem 0 2rem;
    }
    &__content_image {
      display: none;
    }
  }
}
